<mat-toolbar color="primary" class="tools-container">
  <span>Interns</span>
  <span class="spacer"></span>

  <span>Date Format:</span>
  <mat-button-toggle-group appearance="legacy" class="tool">
    <mat-button-toggle (click)="selectFormat('fullDate')"
      >Monday, June 15,2015</mat-button-toggle
    >
    <mat-button-toggle (click)="selectFormat('mediumDate')"
      >Jun 15,2015</mat-button-toggle
    >
    <mat-button-toggle (click)="selectFormat('shortDate')"
      >6/15/15</mat-button-toggle
    >
  </mat-button-toggle-group>

  <span> Sort by name:</span>
  <mat-button-toggle-group appearance="legacy" class="tool">
    <mat-button-toggle (click)="selectSort('a')">Ascending</mat-button-toggle>
    <mat-button-toggle (click)="selectSort('d')">Descending</mat-button-toggle>
    <mat-button-toggle (click)="selectSort('r')">Reset</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
