<div class="add-intern-form">
  <h1>Add</h1>

  <form [formGroup]="internFormGroup" class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input
        matInput
        formControlName="firstName"
        placeholder="Add a First Name"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        formControlName="lastName"
        placeholder="Add a Last Name"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput formControlName="age" placeholder="Add age" />
      <mat-hint
        *ngIf="
          internFormGroup.get('age')!.invalid &&
          internFormGroup.get('age')!.touched
        "
        >Only Numbers</mat-hint
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date of Birth</mat-label>
      <input matInput formControlName="dateOfBirth" [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

  <button
    mat-button
    (click)="addIntern()"
    [disabled]="!internFormGroup.valid"
    color="primary"
    [routerLink]="''"
  >
    Add Intern
  </button>
</div>
