.margin-top-10 {
  margin-top: 10px;
}

.mat-card {
  width: 200px;
  height: 200px;
  float: left;
  background-color: turquoise;
  margin: 20px 10px 20px 10px;
}

.add-intern-card {
  max-width: 200x;
  min-height: 200px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
