<div class="margin-top-10">
  <mat-card *ngFor="let intern of interns">
    <mat-card-title>
      <p>
        Name:
        {{ intern.firstName }}
        {{ intern.lastName }}
      </p>
    </mat-card-title>
    <mat-card-content>
      <p>
        Age:
        {{ intern.age }}
      </p>
      <p>
        Date of Birth:
        {{
          intern.dateOfBirth
            | date: (selectedFormat ? selectedFormat : "longDate")
        }}
      </p>
    </mat-card-content>
    <mat-card-footer align="end">
      <button mat-icon-button (click)="openDialog(intern)">
        <mat-icon matSuffix>edit</mat-icon>
      </button>

      <button mat-icon-button (click)="deleteIntern(intern.id)">
        <mat-icon matSuffix>delete</mat-icon>
      </button>
    </mat-card-footer>
  </mat-card>
  <mat-card class="add-intern-card">
    <button mat-icon-button routerLink="add-intern">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card>
</div>
